name: Test action

on: ['push']

jobs:
  run_action:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - uses: ./
        id: uplink_action
        with:
          function: 'list_buckets'
          satellite_url: ${{ secrets.UPLINK_SATELLITE_URL }}
          api_key: ${{ secrets.UPLINK_API_KEY }}
          passphrase: ${{ secrets.UPLINK_PASSPHRASE }}
      - run: echo ${{ steps.uplink_action.outputs.output }}
